<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.min.js"></script>
</head>
<body>
<div id="v2">
    <input type="text" v-model="msg">
    <input type="button" value="给他/她留言" @click="add_txt">
    <ul>
        <li v-for="(value,index) in note" :key="index">
            <span>{{value}}</span>     <a href="javascript:;" @click="del_note(index)">删除</a>
        </li>
    </ul>
    <span>总留言：{{note.length}}条</span>
    <input type="button" value="清空留言" @click="del_all" v-show="note.length != 0">
</div>

<script>
    new Vue({
        el: "#v2",
        data: {
            msg:"",
            note:[],
        },
        methods:{
            add_txt(){
                let msg = this.msg;
                if(msg){
                    this.note.unshift(this.msg);
                }
                this.msg = ""
            },
            del_note(index){
                this.note.splice(index,1);
            },
            del_all(){
                this.note = [];
            }
        },
    })
</script>
</body>
</html>